certifi==2024.8.30
charset-normalizer==3.3.2
filelock==3.16.1
fsspec==2024.9.0
huggingface-hub==0.25.1
idna==3.10
imageio==2.35.1
lazy-loader==0.4
networkx==3.3
numpy==2.1.1
packaging==24.1
pillow==10.4.0
pyyaml==6.0.2
regex==2024.9.11
requests==2.32.3
safetensors==0.4.5
scikit-image==0.24.0
scipy==1.14.1
tifffile==2024.9.20
tokenizers==0.20.0
tqdm==4.66.5
transformers==4.45.0
typing-extensions==4.12.2
urllib3==2.2.3
sqlite-vec==0.1.2
